<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
                <h1>Welcome to goldfish's first blog</h1>
                <h3>Let's try to gain some very basic knowledge how the water parameters should be for our goldfish.</h3>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <ul>
                <li>Amonia level: @Goldfish.AmoniaNumber</li>
                <li>@Goldfish.NitrateLowEndNum &lt; Nitrite level &lt; @Goldfish.NitrateHighEndNum</li>
                <li>@Goldfish.NitrateLowEndNum &lt; Nitrate level &lt; @Goldfish.NitrateHighEndNum</li>
                <li>@Goldfish.PHLowEndNum &lt; Ph level &lt; @Goldfish.PHHighEndNum.</li>
            </ul>
        </div>
    </div>
</div>